{{define "exercise-detail"}}
<div id="exercise-detail" class="exercise-detail"> 
    <!-- Header -->
    <div class="exercise-detail__header">
        <h2 class="exercise-detail__title">{{.Title}}</h2>
        <span class="badge badge--domain-{{.Domain | lower}} badge--md">
            {{.Domain}}
        </span>
    </div>

    <!-- Description -->
    <p class="exercise-detail__description">{{.Description}}</p>

    <!-- Badges métadonnées -->
    <div class="exercise-detail__badges">
        <span class="badge badge--difficulty-{{.Difficulty}} badge--md">
            D{{.Difficulty}}
        </span>
        
        <span class="badge badge--progress badge--md">
            {{len .CompletedSteps}}/{{len .Steps}} étapes
        </span>
        
    </div>

    <hr class="exercise-detail__divider">

    <!-- Section Étapes -->
    {{template "steps-exo" .}}
    <hr class="exercise-detail__divider">

    <!-- Section Contenu -->
    <div>
        <h3 class="exercise-detail__section-title">[ CONTENU ]</h3>
        <div class="exercise-detail__content">{{.Content}}</div>
    </div>

{{if .Done}}
    {{template "review-button" .}}
{{end}}
</div>
{{end}}
