{{define "dashboard"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Mon App Go{{end}}</title>
    
    <!-- CSS & HTMX -->
    <link rel="stylesheet" href="/public/css/exercice.css">
    <link rel="stylesheet" href="/public/css/badges.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    
    <!-- Animation de chargement HTMX (Optionnel mais pro) -->
    <style>
        .htmx-indicator{display:none} 
        .htmx-request .htmx-indicator{display:inline;} 
        .htmx-request.htmx-indicator{display:inline;}
    </style>
</head>
<body>
   {{template "navbar" .}}
    <div class="container">
        <div class="sidebar">
            {{template "exercise-list" .Exercises}}
        </div>

        <div class="main-content">
            <div id="exercise-detail">
                <h2>👈 Sélectionnez un exercice</h2>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 - Go v2</p>
    </footer>
</body>
</html>
{{end}}
